.custom-checkbox input {
  display: none;
}

.checkbox-box {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  border: 1px solid gray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-box:hover {
  border-color: #ea09e7;
  border-width: 1.5px;
  transition: all 300ms ease-in-out;
}

.checkbox-icon {
  width: 10px;
  height: 10px;
}
