@import "tailwindcss";

@layer theme {
  @theme {
    --color-darkelements: #25273c;
    --color-darkbackground: #181824;
    --color-lightbackground: #f5f5f5;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
